html {
  font-size: 62.5%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow: hidden;
  background-color: #FFF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0.4rem 0 1.6rem;
}

img {
  vertical-align: middle;
}

h1 {
  font-size: 3.2rem;
  margin: 1.2rem 0;
}

strong {
  font-weight: 700;
}

a {
  color: #36c;
}

a:focus {
  outline: 1px solid #36c;
}

/* CENTRAL TEXT */

.central-textlogo {
  position: relative;
  margin: 4rem auto 0.5rem;
  width: 270px;
  font-family: Linux Libertine, Hoefler Text, Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.3rem;
  text-align: center;
}

.central-featured-logo {
  position: absolute;
  top: 158px;
  left: 35px;
}

.central-textlogo-wrapper {
  display: inline-block;
  vertical-align: bottom;
}

.central-textlogo__image {
  color: transparent;
  display: inline-block;
  overflow: hidden;
  text-indent: -10000px;
}

.svg-Wikipedia_wordmark {
  background-position: 0 -254px;
  width: 176px;
  height: 32px;
}

.sprite {
  background-image: linear-gradient(transparent,transparent),url('https://www.wikipedia.org/portal/wikipedia.org/assets/img/sprite-e99844f6.svg');
  background-repeat: no-repeat;
  vertical-align: middle;
}

.jsl10n {
  visibility: visible;
}

.localized-slogan {
  display: block;
  font-family: Linux Libertine, Georgia, Times, serif;
  font-size: 1.5rem;
  font-weight: 400;
}

/* CENTRAL FEATURED */


.central-featured {
  position: relative;
  height: 32.4rem;
  width: 54.6rem;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.central-featured-lang {
  position: absolute;
  width: 15.6rem
}

.central-featured-lang .link-box {
  display: block;
  padding: 0;
  text-decoration: none;
  white-space: normal;
}

.central-featured-lang :hover {
  background-color: #eaecf0;
}

.central-featured-lang strong {
  display: block;
  font-size: 1.6rem;
}

.central-featured-lang .link-box:hover strong {
  text-decoration: underline;
}

.central-featured-lang small {
  color: #54595d;
  display: inline-block;
  font-size: 1.3rem;
  line-height: 1.6;
}

.lang1 {
  top: 0;
  right: 60%;
}

.lang2 {
  top: 0;
  left: 60%;
}

.lang3 {
  top: 20%;
  right: 70%;
}

.lang4 {
  top: 20%;
  left: 70%;
}

.lang5 {
  top: 40%;
  right: 72%;
}

.lang6 {
  top: 40%;
  left: 72%;
}

.lang7 {
  top: 60%;
  right: 70%;
}

.lang8 {
  top: 60%;
  left: 70%
}

.lang9 {
  top: 80%;
  right: 60%;
}

.lang10 {
  top: 80%;
  left: 60%;
}