html {
  font-size: 62.5%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow: hidden;
  background-color: #FFF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0.4rem 0 1.6rem;
}

img {
  vertical-align: middle;
}

h1 {
  font-size: 3.2rem;
  margin: 1.2rem 0;
}

strong {
  font-weight: 700;
}

a {
  color: #36c;
}

a:focus {
  outline: 1px solid #36c;
}

button {
  overflow: visible;
  cursor: pointer;
}

/* CENTRAL TEXT */

.central-textlogo {
  position: relative;
  margin: 4rem auto 0.5rem;
  width: 270px;
  font-family: Linux Libertine, Hoefler Text, Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.3rem;
  text-align: center;
}

.central-featured-logo {
  position: absolute;
  top: 158px;
  left: 35px;
}

.central-textlogo-wrapper {
  display: inline-block;
  vertical-align: bottom;
}

.central-textlogo__image {
  color: transparent;
  display: inline-block;
  overflow: hidden;
  text-indent: -10000px;
}

.svg-Wikipedia_wordmark {
  background-position: 0 -254px;
  width: 176px;
  height: 32px;
}

.sprite {
  background-image: linear-gradient(transparent,transparent),url('https://www.wikipedia.org/portal/wikipedia.org/assets/img/sprite-e99844f6.svg');
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.jsl10n {
  visibility: visible;
}

.localized-slogan {
  display: block;
  font-family: Linux Libertine, Georgia, Times, serif;
  font-size: 1.5rem;
  font-weight: 400;
}

/* CENTRAL FEATURED */


.central-featured {
  position: relative;
  height: 32.4rem;
  width: 54.6rem;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.central-featured-lang {
  position: absolute;
  width: 15.6rem
}

.central-featured-lang .link-box {
  display: block;
  padding: 0;
  text-decoration: none;
  white-space: normal;
}

.central-featured-lang :hover {
  background-color: #eaecf0;
}

.central-featured-lang strong {
  display: block;
  font-size: 1.6rem;
}

.central-featured-lang .link-box:hover strong {
  text-decoration: underline;
}

.central-featured-lang small {
  color: #54595d;
  display: inline-block;
  font-size: 1.3rem;
  line-height: 1.6;
}

.lang1 {
  top: 0;
  right: 60%;
}

.lang2 {
  top: 0;
  left: 60%;
}

.lang3 {
  top: 20%;
  right: 70%;
}

.lang4 {
  top: 20%;
  left: 70%;
}

.lang5 {
  top: 40%;
  right: 72%;
}

.lang6 {
  top: 40%;
  left: 72%;
}

.lang7 {
  top: 60%;
  right: 70%;
}

.lang8 {
  top: 60%;
  left: 70%
}

.lang9 {
  top: 80%;
  right: 60%;
}

.lang10 {
  top: 80%;
  left: 60%;
}

/* SEARCH CONTAINER */

.search-container {
  float: none;
  max-width: 95%;
  width:540px;
  margin: 0.4rem auto 1.95rem;
  text-align: center;
  vertical-align: middle;
}

.search-container fieldset {
  word-spacing: -4px;
}

.pure-form fieldset {
  margin: 0;
  padding: 0.56rem 0 1.2rem;
  border: 0;
}

.search-container .search-input {
  display: inline-block;
  position: relative;
  width: 73%;
  vertical-align: top;
}

.screen-reader-text {
  display: block;
  position: absolute;
  clip: rect(1px,1px,1px,1px);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.pure-form input {
  background-color: #fff;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #a2a9b1;
  box-shadow: inset 0 0 0 1px #fff;
  vertical-align: middle;
}

#searchInput {
  -webkit-appearance: none;
  width: 100%;
  height: 4.4rem;
  border-width: 1px 0 1px 1px;
  border-radius: 2px 0 0 2px;
  padding: 0.8rem 9.6rem 0.8rem 1.2rem;
  font-size: 1.6rem;
  line-height: 1.6;
}

#searchInput:hover {
  border-color: #72777d;
}

#searchInput:focus {
  border-color: #36c;
  box-shadow: inset 0 0 0 1px #36c;
  outline: 0;
}

.styled-select {
  display: block;
  position: absolute;
  top: 1rem;
  bottom: 1.2rem;
  right: 1.2rem;
  max-width: 9.5rem;
  height: 2.4rem;
  border-radius: 2px;
}

.styled-select:hover {
  background-color: #f8f9fa;
}

.styled-select.js-enable .hide-arrow {
  padding: 0 2.4rem 0 0.8rem;
  right: 3.2rem;
  max-width: 6.8rem;
  height: 2.4rem;
  overflow: hidden;
  text-align: right;
}

.search-container .js-langpicker-label {
  display: inline-block;
  margin: 0;
  color: #54595d;
  font-size: 1.3rem;
  line-height: 2.4rem;
  text-transform: uppercase;
}

.styled-select.js-enable select {
  background:transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0 2.4rem;
  color: hsla(0,0%,100%,0);
}

.styled-select select {
  display: inline;
  min-width: 11rem;
  max-width: 11rem;
  outline: 0;
  box-sizing: border-box;
  line-height: 2.4rem;
  text-indent: 0.01px;
  opacity: 0;
  appearance: none;
  cursor: pointer;
}

.styled-select.js-enable select option {
  color: #54595d;
}

.search-container .sprite.svg-arrow-down {
  position: absolute;
  top: 0.8rem;
  right: 0.6rem;
}

.svg-arrow-down {
  background-position: 0 -519px;
  width: 12px;
  height: 8px;
}

.search-container button {
  min-height: 4.4rem;
  margin: 0;
  border-radius: 0 2px 2px 0;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  z-index: 2;
}

.pure-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  box-sizing: border-box;
  position: relative;
  min-width: 1.6rem;
  border: 1px solid #a2a9b1;
  font-family: inherit;
  font-weight: 700;
  text-decoration: none;
  vertical-align: top;
}
.pure-button-primary-progressive {
  background-color: #36c;
  border-color: #36c;
  color: #fff;
}

.pure-button-primary-progressive:hover {
  background-color: #447ff5;
  border-color: #447ff5;
}

.search-container button .svg-search-icon {
  text-indent: -9999px;
}

.svg-search-icon {
  background-position: 0 -697px;
  width: 22px;
  height: 22px;
}

.lang-list-button-wrapper {
  text-align: center;
}

.lang-list-button {
  background-color: #f8f9fa;
  display: inline;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 0.6rem 1.2rem;
  outline: 1.6rem solid #fff;
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  color: #36c;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  transition: outline-width .1s ease-in .5s;
}

.lang-list-button:hover {
  background-color: #fff;
  border-color: #a2a9b1;
}

.lang-list-button i {
  display: inline-block;
  vertical-align: middle;
}

.svg-language-icon {
  background-position: 0 -617px;
  width: 22px;
  height: 22px;
}

.lang-list-button-text {
  padding: 0 0.64rem;
  vertical-align: middle;
}

.svg-arrow-down-blue {
  background-position: 0 -527px;
  width: 14px;
  height: 14px;
}