html {
  font-size: 62.5%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
  background-color: #FFF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0.4rem 0 1.6rem;
}

img {
  vertical-align: middle;
}

h1 {
  font-size: 3.2rem;
  margin: 1.2rem 0;
}

strong {
  font-weight: 700;
}

a {
  unicode-bidi: embed;
  outline: 0;
  color: #36c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  outline: 0;
}

a:focus {
  outline: 1px solid #36c;
}

button {
  overflow: visible;
  cursor: pointer;
}

/* CENTRAL TEXT */

.central-textlogo {
  position: relative;
  margin: 4rem auto 0.5rem;
  width: 270px;
  font-family: Linux Libertine, Hoefler Text, Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.3rem;
  text-align: center;
}

.central-featured-logo {
  position: absolute;
  top: 158px;
  left: 35px;
}

.central-textlogo-wrapper {
  display: inline-block;
  vertical-align: bottom;
}

.central-textlogo__image {
  color: transparent;
  display: inline-block;
  overflow: hidden;
  text-indent: -10000px;
}

.svg-Wikipedia_wordmark {
  background-position: 0 -254px;
  width: 176px;
  height: 32px;
}

.sprite {
  background-image: linear-gradient(transparent,transparent),url('https://www.wikipedia.org/portal/wikipedia.org/assets/img/sprite-e99844f6.svg');
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.jsl10n {
  visibility: visible;
}

.localized-slogan {
  display: block;
  font-family: Linux Libertine, Georgia, Times, serif;
  font-size: 1.5rem;
  font-weight: 400;
}

/* CENTRAL FEATURED */


.central-featured {
  position: relative;
  height: 32.4rem;
  width: 54.6rem;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.central-featured-lang {
  position: absolute;
  width: 15.6rem
}

.central-featured-lang .link-box {
  display: block;
  padding: 0;
  text-decoration: none;
  white-space: normal;
}

.central-featured-lang :hover {
  background-color: #eaecf0;
}

.central-featured-lang strong {
  display: block;
  font-size: 1.6rem;
}

.central-featured-lang .link-box:hover strong {
  text-decoration: underline;
}

.central-featured-lang small {
  color: #54595d;
  display: inline-block;
  font-size: 1.3rem;
  line-height: 1.6;
}

.lang1 {
  top: 0;
  right: 60%;
}

.lang2 {
  top: 0;
  left: 60%;
}

.lang3 {
  top: 20%;
  right: 70%;
}

.lang4 {
  top: 20%;
  left: 70%;
}

.lang5 {
  top: 40%;
  right: 72%;
}

.lang6 {
  top: 40%;
  left: 72%;
}

.lang7 {
  top: 60%;
  right: 70%;
}

.lang8 {
  top: 60%;
  left: 70%
}

.lang9 {
  top: 80%;
  right: 60%;
}

.lang10 {
  top: 80%;
  left: 60%;
}

/* SEARCH CONTAINER */

.search-container {
  float: none;
  max-width: 95%;
  width:540px;
  margin: 0.4rem auto 1.95rem;
  text-align: center;
  vertical-align: middle;
}

.search-container fieldset {
  word-spacing: -4px;
}

.pure-form fieldset {
  margin: 0;
  padding: 0.56rem 0 1.2rem;
  border: 0;
}

.search-container .search-input {
  display: inline-block;
  position: relative;
  width: 73%;
  vertical-align: top;
}

.screen-reader-text {
  display: block;
  position: absolute;
  clip: rect(1px,1px,1px,1px);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.pure-form input {
  background-color: #fff;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #a2a9b1;
  box-shadow: inset 0 0 0 1px #fff;
  vertical-align: middle;
}

#searchInput {
  -webkit-appearance: none;
  width: 100%;
  height: 4.4rem;
  border-width: 1px 0 1px 1px;
  border-radius: 2px 0 0 2px;
  padding: 0.8rem 9.6rem 0.8rem 1.2rem;
  font-size: 1.6rem;
  line-height: 1.6;
}

#searchInput:hover {
  border-color: #72777d;
}

#searchInput:focus {
  border-color: #36c;
  box-shadow: inset 0 0 0 1px #36c;
  outline: 0;
}

.styled-select {
  display: block;
  position: absolute;
  top: 1rem;
  bottom: 1.2rem;
  right: 1.2rem;
  max-width: 9.5rem;
  height: 2.4rem;
  border-radius: 2px;
}

.styled-select:hover {
  background-color: #f8f9fa;
}

.styled-select.js-enable .hide-arrow {
  padding: 0 2.4rem 0 0.8rem;
  right: 3.2rem;
  max-width: 6.8rem;
  height: 2.4rem;
  overflow: hidden;
  text-align: right;
}

.search-container .js-langpicker-label {
  display: inline-block;
  margin: 0;
  color: #54595d;
  font-size: 1.3rem;
  line-height: 2.4rem;
  text-transform: uppercase;
}

.styled-select.js-enable select {
  background:transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0 2.4rem;
  color: hsla(0,0%,100%,0);
}

.styled-select select {
  display: inline;
  min-width: 11rem;
  max-width: 11rem;
  outline: 0;
  box-sizing: border-box;
  line-height: 2.4rem;
  text-indent: 0.01px;
  opacity: 0;
  appearance: none;
  cursor: pointer;
}

.styled-select.js-enable select option {
  color: #54595d;
}

.search-container .sprite.svg-arrow-down {
  position: absolute;
  top: 0.8rem;
  right: 0.6rem;
}

.svg-arrow-down {
  background-position: 0 -519px;
  width: 12px;
  height: 8px;
}

.search-container button {
  min-height: 4.4rem;
  margin: 0;
  border-radius: 0 2px 2px 0;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  z-index: 2;
}

.pure-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  box-sizing: border-box;
  position: relative;
  min-width: 1.6rem;
  border: 1px solid #a2a9b1;
  font-family: inherit;
  font-weight: 700;
  text-decoration: none;
  vertical-align: top;
}
.pure-button-primary-progressive {
  background-color: #36c;
  border-color: #36c;
  color: #fff;
}

.pure-button-primary-progressive:hover {
  background-color: #447ff5;
  border-color: #447ff5;
}

.search-container button .svg-search-icon {
  text-indent: -9999px;
}

.svg-search-icon {
  background-position: 0 -697px;
  width: 22px;
  height: 22px;
}

.lang-list-button-wrapper {
  text-align: center;
}

.lang-list-button {
  background-color: #f8f9fa;
  display: inline;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 0.6rem 1.2rem;
  outline: 1.6rem solid #fff;
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  color: #36c;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  transition: outline-width .1s ease-in .5s;
}

.lang-list-button:hover {
  background-color: #fff;
  border-color: #a2a9b1;
}

.lang-list-button i {
  display: inline-block;
  vertical-align: middle;
}

.svg-language-icon {
  background-position: 0 -617px;
  width: 22px;
  height: 22px;
}

.lang-list-button-text {
  padding: 0 0.64rem;
  vertical-align: middle;
}

.svg-arrow-down-blue {
  background-position: 0 -527px;
  width: 14px;
  height: 14px;
}

/* LANG LIST BORDER */

.lang-list-border {
  background-color: #c8ccd1;
  display: block;
  position: relative;
  max-width: 460px;
  width: 80%;
  margin: -1.6rem auto 1.6rem;
  height: 1px;
}

hr {
  clear: both;
  height: 0;
  border: 0;
  border-bottom: 1px solid #c8ccd1;
  margin: 4.8rem 1.3rem 0.26rem;
}

/* FOOTER */

.footer {
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
  padding: 4.16rem 1.28rem 1.28rem;
  font-size: 1.3rem;
}

.footer:before {
  content: " ";
  display: table;
}

.footer-sidebar {
  width: 35%;
  float: left;
  clear: left;
  margin-bottom: 3.2rem;
  vertical-align: top;
}

.footer-sidebar-content {
  position: relative;
  max-width: 350px;
  margin: 0 auto;
}

.sprite.footer-sidebar-icon {
  position: absolute;
  top: 0;
  left: 0.8rem;
}

.svg-Wikimedia-logo-black {
  background-position: 0 -212px;
  width: 42px;
  height: 42px;
}

.footer-sidebar-text {
  display: block;
  position: relative;
  margin: 0;
  padding-left: 6rem;
  padding-right: 2rem;
  color: #54595d
}

.app-badges .footer-sidebar-content {
  background-color: #f8f9fa;
}

.app-badges .footer-sidebar-text {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.app-badges .sprite.footer-sidebar-icon {
  top: 0.8rem;
}

.svg-wikipedia_app_tile {
  background-position: 0 -719px;
  width: 42px;
  height: 42px;
}

.app-badges ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.app-badge {
  display: inline-block;
}

.app-badge a {
  color: transparent;
}

.svg-badge_google_play_store {
  background-position: 0 -541px;
  width: 124px;
  height: 38px;
}

.svg-badge_ios_app_store {
  background-position: 0 -579px;
  width: 110px;
  height: 38px;
}

.other-projects {
  display: inline-block;
  width: 65%;
}

.other-project {
  float: left;
  position: relative;
  width: 33%;
  height: 9rem;
}

.other-project-link {
  display: inline-block;
  min-height: 50px;
  width: 90%;
  padding: 1em;
  white-space: nowrap;
}

a.other-project-link {
  text-decoration: none;
}

.other-project-link:hover {
  background-color: #eaecf0;
}

.other-project-icon {
  display: inline-block;
  width: 50px;
  text-align: center;
}

.other-project-text {
  max-width: 65%;
  font-size: 1.4rem;
  vertical-align: middle;
  white-space: normal;
  display: inline-block;
}

.other-project-tagline, .other-project-title {
  display: block;
}

.other-project-tagline {
  color: #54595d;
  font-size: 1.3rem;
}


.svg-Commons-logo_sister {
  background-position: 0 0;
  width: 47px;
  height: 47px;
}

.svg-Wikivoyage-logo_sister {
  background-position: 0 -446px;
  width: 36px;
  height: 36px;
}

.svg-Wiktionary-logo_sister {
  background-position: 0 -482px;
  width: 37px;
  height: 37px;
}

.svg-Wikibooks-logo_sister {
  background-position: 0 -126px;
  width: 37px;
  height: 37px;
}

.svg-Wikinews-logo_sister {
  background-image: url('https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikinews-logo_sister.png');
  background-position: 0 0;
  width: 47px;
  height: 26px;
}

.svg-Wikidata-logo_sister {
  background-position: 0 -163px;
  width: 49px;
  height: 49px;
}

.svg-Wikiversity-logo_sister {
  background-position: 0 -409px;
  width: 43px;
  height: 37px;
}

.svg-Wikiquote-logo_sister {
  background-position: 0 -286px;
  width: 42px;
  height: 42px;
}

.svg-MediaWiki-logo_sister {
  background-position: 0 -47px;
  width: 42px;
  height: 42px;
}

.svg-Wikisource-logo_sister {
  background-position: 0 -328px;
  width: 39px;
  height: 39px;
}

.svg-Wikispecies-logo_sister {
  background-position: 0 -367px;
  width: 42px;
  height: 42px;
}

.svg-Meta-Wiki-logo_sister {
  background-position: 0 -89px;
  width: 37px;
  height: 37px;
}

.footer-line {
  clear: both;
  height: 0;
  border: 0;
  border-bottom: 1px solid #c8ccd1;
  margin: 0.26rem 1.3rem;
}

.site-license {
  color: #54595d;
  text-align: center;
}

small {
  font-size: 1.3rem;
}

.site-license small:after {
  content: "\2022";
  display: inline-block;
  font-size: 1.3rem;
  line-height: inherit;
  margin-left: 0.8rem;
  margin-right: 0.5rem;
}

.site-license small:last-child:after{
  display: none;
}